 .home {
	 position: absolute;
	 top: 40px;
	 left: 30px;
	 text-indent: -9999px;
	 height: 45px;
	 width: 45px;
	 border-radius: 50%;
	 border: 2px solid #efefef;
	 background-image: url(/img/global/home.png);
	 background-size: 25px;
	 background-repeat: no-repeat;
	 background-position: center center;
	 	@media screen and (max-width: 480px) {
			top: 20px;
			left: 15px;;
	}
 }
 
 .home:hover {
	 background-color: $highlight-color;
	 border-color: $highlight-color;
 }
 
 .header {
	 background-color: white;
	 padding: 100px 0;
	 margin-bottom: 80px;
	 box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	 @media screen and (max-width: 480px) {
		padding: 80px 0;
	}
 }

.role {
	margin: 20px 0;
	text-align: center;
	@media screen and (max-width: 480px) {
	}
}

.examples {
	margin-top: 80px;
		@media screen and (max-width: 480px) {
			margin-top: 40px;
	}
}

.examples .row {
	margin-bottom: 180px;
	@media screen and (max-width: 480px) {
		margin-bottom: 40px;
	}
}

.examples .row:last-of-type {
	margin-bottom: 40px;
}

.port-img {
	border: 1px rgba(0, 0, 0, 0.1) solid;
	box-shadow: $item-shadow;
	position: relative;
}

.port-img img {
	width: 100%;
}

.item-description {
/*
	display: inline-block;
	margin: 40px;
*/
	padding: 20px;
	background-color: white;
	border: 1px rgba(0, 0, 0, 0.1) solid;
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.item-description h5 {
	font-size: 1.1em;
	font-weight: 500;
	letter-spacing: .1em;
	text-transform: uppercase;
	line-height: 100%;
	margin: 0;
	}

.item-description p {
	line-height: 100%;
	margin: 0;

}


.what {
	background-color: $highlight-color;
}


.circle {
	margin: 10px 0px;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: $highlight-color;
	text-align: center;
	font-style: italic;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 15px;
    transform: rotate(340deg);
    padding-top: 14px;
	@media screen and (max-width: 480px) {
    	float: right;
	}
}

#next-mobile {
	margin-bottom: 60px;
	background-image: url(../img/global/rule-horiz.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 40px;
}

.next h4 {
	line-height: 100%;
	@media screen and (max-width: 480px) {
		margin-top: .6em;
	}
}

.next a {
	color: black;
	}

.next a:hover .circle {
    transform: rotate(0deg);
}	
	
// Redacted

// Epicurious

// Time

// TNY
