
.icon-flash:before { content: '\e800'; } /* '' */
.icon-dot-circled:before { content: '\e801'; } /* '' */
.icon-bullseye:before { content: '\e802'; } /* '' */
.icon-plus-circled:before { content: '\e803'; } /* '' */
.icon-minus-circled:before { content: '\e804'; } /* '' */