body {
background-color: #993300;
color: white;
font-family: Arial, sans-serif;
line-height: 135%;
text-align: center;
margin: 0;
}

a {
color: #dda500;
text-decoration: none;
border-bottom: 1px solid #c66737;
}

a:hover {color: #3e1704;
border-bottom: 1px solid #3e1704;
}


/* layout */

#nav, #wrap {width: 760px;
margin: auto;}

#nav {
color: #c66737;
font-size: 12px;
}

#nav a {
	color: #c66737;
	margin-left: 10px;
	padding-right: 10px;
	border: 0;

	}
#nav a:hover {
	color: #dda500;
}

#footer {
margin-top: 60px;
padding: 30px;
background-image: url(footer.gif);
border-top: 1px solid #c66737;
}

#footer a {
	padding: 5px 10px;
	margin: 10px;
	border: 0;
}

#footer a:hover {
color: white;
background-color: #3e1704;
}



body#onstage #footer a.onstage, body#index #footer a.index, body#timeline #footer a.timeline, body#home #footer a.home{
color: white;
background-color: #3e1704;

}

h1 {
background-color: #cb3500;
padding: 20px 0 20px 0;
font-weight: normal;
font-size: 48px;
}

/* Home */

#message {
			width: 330px;
			float: left;
			margin-right: 40px;
			text-align: left;
			line-height: 170%;
		}
		
		#col2 {
			width: 330px;
			float: left;
			text-align: left;
			font-size: 13px;
		}
		
		#col2 h4 {
		margin: 0;
		font-size: 18px;
		}
		
		#col2 p {margin: 0 0 30px 0;}
		
		
		#footer {
		clear: both;
		}



/* Timeline */

dt {
	margin: 0px; padding:  10px 0 0 0;
	float: left;
	text-align: left;
	font-size: 13px;
	font-weight: bold; 
	width: 110px;
	border-top: 1px solid #c66737;
	}

dd {
	margin: 0 30px 30px 140px; padding: 10px 0 0 0;
	text-align: left;
	
	border-top: 1px solid #c66737;
	}
	
	
	
/* index */	

li {list-style-type: none; margin: 10px;}

li.star {
margin: 30px;
text-indent: -2000px;
background-image: url(star.gif;);
background-repeat: no-repeat;
background-position: center center;
}

/* onstage */	

h2 {
clear: both;
margin: 20px 0 0 0;
padding: 30px 0 0 0; 
border-bottom: 1px solid silver; 
			}
			
ul {
clear: both;
margin-bottom: 20px;
}
		
#onstage .item {
margin: 5px 10px 0 10px;
font-size: 12px;

/*
display: block;
float: left;
*/
}