body {
background-color: #f1f1f1;
background-image: url(../img/background.png);
}		

.container {}



.header {
	padding: 40px 0 0 0;
}

.circuitbreaker, voltmeter {max-height: 200px;}

.header h1
{
	font-family: "calluna-sans-1","calluna-sans-2", sans-serif;
	font-size: 60px;
	letter-spacing: 2px;
	font-weight: 700;
	margin: 20px 0;
	text-shadow: rgba(255,255,255,1) 0 2px;
	line-height: 100%;
}

.header h2
{
	font-family: "calluna-sans-1","calluna-sans-2", sans-serif;
	font-size: 20px;
	font-weight: 700;
	margin: 20px 0;

}

.header h3
{
	font-size: 16px;
	margin: 0;
	font-family: "calluna-sans-1","calluna-sans-2", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 20px 0;
}

#services {
	background-color: white;
}

hr.rowspacer {
	border-width: 4px 0px 0px 0px;
	margin: 50px 0;
}

hr.rowspacer.thin {
	border-width: 2px 0px 0px 0px;
}

h4.when
{
	font-size: 16px;
	margin: 20px 0;
	font-family: "calluna-sans-1","calluna-sans-2", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #666;	
}

h3, h5, h4, p {font-family: "calluna-sans-1","calluna-sans-2", sans-serif; margin: 10px 0;}

h3 {
font-size: 24px;
}

h4 {
font-weight: 700;
font-size: 16px;
}

h5 {
	font-size: 14px;
	font-style: italic;
}


p {
font-size: 18px;
line-height: 150%
}

button.viewmore {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 46px;
    height: 46px;
    margin: 10px auto;
    padding: 0;
    font-size: 30px;
    font-weight: 100;
    color: black;
    text-align: center;
    background-color: #efefef;
    border: 3px solid #ccc;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: block;
}

button.viewmore:hover {
	text-decoration: none;
	background-color: magenta;
	color: white;
	border-color: rgba(0,0,0,0.2);
	opacity: 1;
	filter: alpha(opacity=100);
}

.fs_ex {

	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	font-weight: 300;
}

.company {

}

.company p.caption {
	background-color: white;
	text-align: left;
	font-weight: 300;
	padding: 0;
	font-size: 14px;
	line-height: 150%;
	margin: 10px 0px 20px 0px;
	
}

.port {text-align: center;}

.port img {margin: 0px auto 30px auto;}

p.caption {margin: 30px 0 0 0; background-color: #efefef; padding: 8px; font-size: 14px; color: #666; font-weight: 700;}

a.offsite {
color: black;
text-decoration: none;
border-bottom: 1px solid silver;
padding: 1px 1px;
font-style: italic;
}

a.offsite:hover {
background-color: magenta;
}

.pipe {
color: #666;
}

#contact {
margin-top: 60px;
padding: 40px 0;
font-family: "calluna-sans-1","calluna-sans-2", sans-serif;
color: black;
background-color: #3FF5C2;
font-size: 16px;
line-height: 150%;
border-top: 4px solid #3aecba;
}

#contact h1 {
font-size: 28px;
color: black;
font-family: "calluna-sans-1","calluna-sans-2", sans-serif;
}

#contact a {
	text-decoration: none;
	color: black;
}

#contact span.pipe {color:white;}

#also {
font-family: "calluna-sans-1","calluna-sans-2", sans-serif;
color: black;

}

#also h5 {
text-transform: uppercase;
font-style: normal;
letter-spacing: 1px;
font-size: 11px;
margin: 15px 0 0 0;
}

#also a {
color: black;
text-decoration: none;
font-size: 14px;
}

#also a:hover {
background-color: magenta;
}

.voltmeter {height: 150px;}

strike {color: #bbb;}